name: Build

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test
        id: test
        uses: vmactions/freebsd-vm@v1
        with:
          release: "15.0"
          arch: aarch64
          run:
            ./build
